<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
          <h2>Product Reviews</h2>
          <ul>
            {{#each product.reviews as |review|}}
              {{review-tile review=review destroyReview="destroyReview" update="update"}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>


<button {{action 'delete' product}}>Delete</button>
