body {
  background-image: url("http://66.media.tumblr.com/tumblr_m9ljn37MzU1qk32g9.png");
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

img{
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: 50%;
  border: solid;
  border-color: #182d4f;
  border-radius: 10px;
}

#postBody {
  text-align: center;
}

h1 {
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-size: 43px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Satisfy', cursive;
}

h5 {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

h7 {
  font-size: 80px;
  color: white;
  font-family: 'Satisfy', cursive;
}

h8 {
  font-size: 20px;
  color: black;
  /*text-shadow: 2px 2px black;*/
  font-family: 'Dosis', sans-serif;
}

h6 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

.well {
    border-radius: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

button {
  width: 90px;
  height: 42px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #42A0D5;
  color: black;
}

.navButtons a {
  width: 90px;
  height: 35px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #42A0D5;
  color: black !important;
}

a:hover{
  text-decoration: none;
}

a {
  color: #182d4f;
}


#delButton, #newButton {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #42A0D5;
  color: black;
  display: inline;
}

#reviews{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/44/ea/f5/44eaf52c15097e7dc5c9d68723b7ad02.jpg");
}

#reviewWell {
  background-color: #white;
  border-width: medium;
}
