body {
  background-image: url("http://66.media.tumblr.com/tumblr_m9ljn37MzU1qk32g9.png");
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

img{
  width: auto;
  max-width: 70%;
  height: auto;
  max-height: 50%;
  border: solid;
  border-color: #182d4f;
  border-radius: 10px;
}

#postBody {
  text-align: center;
}

h1 {
  font-size: 70px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Passion One', cursive;
}

h2 {
  font-size: 43px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Passion One', cursive;
}

h5 {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

h7 {
  font-size: 80px;
  color: white;
  font-family: 'Passion One', cursive;
}

h8 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: 'Dosis', sans-serif;
}

h6 {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px black;
}

.well {
    border-radius: 30px;
    margin-left: 15%;
    margin-right: 15%;
}

button {
  width: 90px;
  height: 35px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #182d4f;
  color: lightgrey;
}

.navButtons a {
  width: 90px;
  height: 35px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #182d4f;
  color: lightgrey !important;
}

a:hover{
  text-decoration: none;
}

a {
  color: #182d4f;
}


#delButton, #newButton {
  width: 90px;
  height: 50px;
  margin-top: 10px;
  border-radius: 7px;
  background-color: #182d4f;
  color: lightgrey;
  display: inline;
}

#comments{
  background-image: url("http://www.hdwallpapery.com/static/images/black-background-ppt-backgrounds-powerpoint_8WuVMv9.jpg");
}

#commentWell {
  background-color: #3e55b2;
  border-width: medium;
}
