<h1>Who Are We?</h1>
<p>
  Karma Sweets is your one stop destination for anything sweet! Karma Sweets is a marketplace where people around the world connect online to make, sell, and buy delicious baked goods!
</p>

{{#link-to 'contact'}}Contact Us{{/link-to}}
