<h7>Karma Sweets</h7>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <button class="navButtons" type="button">{{#link-to 'index'}}Home{{/link-to}}</button>
        <button class="navButtons" type="button">{{#link-to 'about'}}About {{/link-to}}</button>
        <button class="navButtons" type="button">{{#link-to 'contact'}}Contact Us{{/link-to}}</button>
      </div>
    </div>
  </div>
</div>
{{outlet}}

<!-- <div class="container">
  <header class="jumbotron">
    <h1>Karma Sweets</h1>
  </header>
  {{outlet}}
  <hr>
<footer>
  {{#link-to 'contact'}}Contact Karma Sweets{{/link-to}}
</footer>
</div> -->
