<h1>Contact Karma Sweets</h1>

<p>
  Karma Sweets is a marketplace where individual shops sell their own handmade and unique baked goods.
</p>

<p>
  Please contact a seller directly if you have a question about an item or an order you placed.
  <br>
  Your seller can help you with topics like:
  <ul>
    <li>Product inquiries(Can I get this with a different frosting flavor?)</li>
    <li>Shipping information(Do you ship to my country?)</li>
    <li>Processing times(Will I get this in time for my event?)</li>
    <li>Shop policies(Can I cancel my order? How do I get a refund?)</li>
    <li>Order status</li>
  </ul>
</p>


  <h2>Contact Support</h2>

  <p>
    Have a question for Karma Sweets Support? Please send us any inquiries to questions@karmasweets.com.
  </p>

{{#link-to 'about'}}About{{/link-to}}
