<h1>Karma Sweets</h1>

<h3>The sweetest part of your day!</h3>

<ul>
  {{#each model as |product|}}
  {{product-tile product=product destroyProduct="destroyProduct"}}
  {{/each}}
</ul>

{{new-product saveProduct2="saveProduct3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
