<h3>The sweetest part of your day!</h3>

<ul>
  {{#each model.products as |product|}}
  {{product-tile product=product update="update" destroyProduct="destroyProduct"}}
  {{/each}}
</ul>



{{new-product saveProduct2="saveProduct3"}}
